body {
  color: orange;
  font-family: 'EDFHershey';
  font-size: 4vw;
  padding: 0.5vw;
  line-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

#menu, #main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}

#servo {
  margin-left: 7vw;
}

p {
  margin: 0;
}

@font-face {
    font-family: 'EDFHershey';
    src: url(font/edfhershey-webfont.eot),
         url(font/edfhershey-webfont.svg),
         url(font/edfhershey-webfont.ttf),
         url(font/edfhershey-webfont.woff),
         url(font/edfhershey-webfont.woff2);
}
